@page
@model Jijie_Valentin_ProiectF1.Pages.Seasons.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Season</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Season.SeasonYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Season.SeasonYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Season.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
