@page
@model Jijie_Valentin_ProiectF1.Pages.Drivers.EditModel
@using Jijie_Valentin_ProiectF1
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = "Edit";
}

<h1>@Localizer["Edit"]</h1>

<h4>@Localizer["Driver"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Driver.ID" />
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Driver.FirstName" class="control-label"></label>
                <input asp-for="Driver.FirstName" class="form-control" aria-required="true"/>
                <span asp-validation-for="Driver.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Driver.LastName" class="control-label"></label>
                <input asp-for="Driver.LastName" class="form-control" aria-required="true"/>
                <span asp-validation-for="Driver.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Driver.Age" class="control-label"></label>
                <input asp-for="Driver.Age" class="form-control" />
                <span asp-validation-for="Driver.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Driver.TeamID" class="control-label"></label>
                <select asp-for="Driver.TeamID" class="form-control" asp-items="ViewBag.TeamID" aria-required="true"></select>
                <span asp-validation-for="Driver.TeamID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">@Localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
