@page
@model IndexModel
@using Jijie_Valentin_ProiectF1
@inject Microsoft.AspNetCore.Mvc.Localization.IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Title"]</h1>
</div>
